body{background-color:#ffffff;}
#companyDetail{width:1000px;margin:20px auto;font-size:200%;line-height:big;text-indent:2em;}
#companyName{width:1000px;margin:20px auto;}
#companyName h1{font-size:300%;text-align:center;}