.foot{background-color:#27303f;padding-top:5px;height:30%;margin:0 auto;width:100%;color:#ffffff;font-size:20px;}
/*

*/
.foot .text{float:left;margin-left:10%;width:20%;padding:20px 0;line-height:30px;font-size:14px;}
.foot .links{float:left;	width:40%;text-align:center;padding:20px 0;height:30px;line-height:30px;}

.foot .connectus{float:left;	width:30%;text-align:center;padding:20px 0;	/**/}

.foot .links ul{	list-style-type:none;}

.foot .links ul li{	display:inline;}

.foot .bottom{clear:both;height:10%;text-align:center;	margin-bottom:0px;}


.foot .partner{	width:30px;	height:25px;}

.foot .qrcode{height:90px;}

.foot .qrcode img{margin-top:-10px;	margin-right:-50px;	width:200px;	height:150px;}


.foot a:link, 
.foot a:visited {color:#ffffff; text-decoration:none; } 
.foot a:hover, 
.foot a:active { color:#ff0000; text-decoration:none; } 

