.foot{
	background-color:#333333;
	color:#ffffff;
	/**/
	padding-top:5px;
	height:150px;
	margin-top:0px;
	width:100%;
}

.foot .text{
	float:left;
	text-align:center;
	width:30%;
}
.foot .links{
	float:left;
	width:40%;
}
.foot .connectus{
	float:left;
	width:30%;
	/**/
}

.foot .links ul{
	list-style-type:none;
}

.foot .links ul li{
	display:inline;
}

.foot .bottom{
	clear:both;
	height:30px;
	text-align:center;
	margin-bottom:0px;
}


.foot .partner{
	width:30px;
	height:25px;
}

.foot .qrcode{
	height:90px;
}

.foot .qrcode img{
	margin-top:-15px;
	margin-right:-60px;
	width:200px;
	height:150px;
}
/*

*/

.