
.foot{ background:#333333; padding:40px 0; color:#fff; overflow:hidden}
.foot1{ width:98%; margin:0 auto}

.lxfs{ float:left; font-size:14px; line-height:25px; padding-top:50px; margin-left:10%;}
.lxfs h3{ font-size:28px; padding-bottom:17px}
.lxfs p{ font-size:16px; }
.djz{ float:left; margin:0 auto; margin-left:10%;margin-right:10%; padding-top:50px;}
.djz p{ text-align:center; padding-bottom:15px; padding-left:75px;}
.djz p a{ font-size:16px; line-height:35px; color:#FFF; padding-left:28px; padding-right:28px; text-decoration:none}
.huoban em{ display:block; float:left; font-style:normal; margin-right:15px; margin-top:10px; font-size:16px; color:#838278;}
.huoban ul li{ width:auto; margin-left:20px; float:left}

.erweima{ float:right; margin-right:10%; width:110px; text-align:center;}
.erweima p{ font-size:24px; color:#ddc628; line-height:35px; padding-bottom:15px;}

.foot2{ text-align:center; background:url(line.jpg) top center no-repeat; padding-top:15px; font-size:14px; margin-top:15px;}











