
/* CSS Document */
@charset "utf-8";

@font-face{font-family:'fangheijianti';src:url('../fonts/lanting.TTF'),url('../fonts/lanting.eot?#iefix') format("embedded-opentype");font-weight:normal;font-style:normal}

body{ margin:0px; font-size:12px; color:#3d2f1b;font-family:微软雅黑}
*{padding:0px;margin:0px;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,textarea,select,button,th,td {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:12px;list-style:none;}
input,select {font:100% Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, sans-serif;}
button {overflow:visible}
img{border:none;}
a{color:#3d2f1b;text-decoration:none;}
a:hover{color:#ff0000;text-decoration:underline;}
li{	list-style:none;}
input,select,button{font:12px Verdana,Arial,Tahoma;vertical-align:middle;}
.clear{overflow:hidden;clear:both; height:0px;}
.lf{ float:left;}
.rt{ float:right;}



.top{overflow:hidden}
.header{ background:#333333; position:fixed; top:0; width:100%; z-index:9999; height:65px;}
.m{ width:100%; margin:0 auto; padding-top:10px; padding-bottom:10px;}
.logo{ float:left; margin-left:47px;}
.daohang{ float:right; margin:15px 0; margin-right:47px;}
.daohang ul{list-style:none;} 
.daohang li{float:left;line-height:20px;} 
.daohang a{display:block;text-align:center;height:20px; padding:0 10px; font-size:18px; font-family:"fangheijianti";} 
.daohang a:link{color:#fff; border-right:#FFF 1px solid;text-decoration:none;} 
.daohang a:hover{text-decoration:none;}  

.foot{ background:#333333; padding:40px 0; color:#fff; overflow:hidden}
.foot1{ width:98%; margin:0 auto}

.lxfs{ float:left; font-size:14px; line-height:25px; padding-top:50px; margin-left:10%;}
.lxfs h3{ font-size:28px; padding-bottom:17px}
.lxfs p{ font-size:16px; }
.djz{ float:left; margin:0 auto; margin-left:10%;margin-right:10%; padding-top:50px;}
.djz p{ text-align:center; padding-bottom:15px; padding-left:75px;}
.djz p a{ font-size:16px; line-height:35px; color:#FFF; padding-left:28px; padding-right:28px; text-decoration:none}
.huoban em{ display:block; float:left; font-style:normal; margin-right:15px; margin-top:10px; font-size:16px; color:#838278;}
.huoban ul li{ width:auto; margin-left:20px; float:left}

.erweima{ float:right; margin-right:10%; width:110px; text-align:center;}
.erweima p{ font-size:24px; color:#ddc628; line-height:35px; padding-bottom:15px;}

.foot2{ text-align:center; background:url(line.jpg) top center no-repeat; padding-top:15px; font-size:14px; margin-top:15px;}











